.tela{
    height: 100vh;
    width: 100vw;

    background-image: url(../img/netflix.jpg);
}
/* Estilo padrão para as imagens dos carrosséis */
.tela img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px; /* opcional, deixa mais bonito */
}

/* Quando passar o mouse */
.tela img:hover {
  transform: scale(1.1); /* zoom leve */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* destaque extra */
  cursor: pointer;
}
