.selecao-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px; /* Ajuste este valor conforme o quanto você quer que desça */
}
.container-cards{
    display: flex;
    flex-direction: row;
    gap: 24px;

    margin-bottom: 64px;
}

.titulo{
    color: #efefef;

    font-size: 52px;
    font-weight: 400;
}