.containerrs{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    /* overflow-x: scroll; */
    
    padding: 30px;
    
    background-color: rgba(20, 20, 20, 0.342);
    }
    
 
.n-dubladas{  
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-shadow: 1px 1px black;
        color: white;

        padding-left: 20px;
    
}
    
.fotos4{
        display: flex;
        flex-direction: row;

        gap: 80px;
       padding-left: 90px;
        
}
    
.capas4{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 170px;
        
    border-radius: 5px;
    margin-left: -70px;
}
    

    